---
layout: compress
title: "Arabic Keyboard"
permalink : /clavier-arabe
---

<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="myApp" class="no-js" ng-controller="ArabicKeyCtrl"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="google-site-verification" content="zC__eeVR4P5SiyeogQ4eBPDmhGnjH6PcOIBFX1TuTHs" />
  <title>Le clavier arabe v3.0.6</title>
  <meta name="description" content="A online virtual arabic keyboard -Clavier Arabe virtuel en ligne - لوحة مفاتيح عربية that allows anyone to write in Arabic language letters if you don't have a physical keyboard with arabic letters">
  <meta name="keywords" content="arabic, arabic keyboard, keyboard, arabic key board, arabic text editor, arabic courses,virtual arabic keyboard,online arabic keyboard ,Arabic keyboard,keyboard arabi,keyboard ,virtual Arabic keyboard,keyboard in Arabic,لوحة مفاتيح, clavier arabic,write in Arabic,arabic keyboard 2016,arabic keyboard 2017,arabic keyboard 2017,arabic translation,google arabic google,arabic keyboard yahoo,learn arabic easilly,learn arabic language the easy way,arabic keyboard wikipedia,arabic keyboard youtube,arabic to english,arabic to frensh,clavier arabe">
  <meta name="Revisit-After" content="1 day">
  <meta name="Robots" content="all">
    <meta name="Rating" content="general">
    <meta name="Distribution" content="global">
    <meta name="Category" content="internet">
    <meta name="DC.Subject" content="Education">
    <meta name="DC.Copyright" content="ahmed">
    <meta name="DC.Author" content="ahmed">
    <meta name="DC.Publisher" content="ahmed">
    <meta name="DC.Reply-To" content="ahmed.bou23@gmail.com">
    <meta name="DC.Revisit-After" content="1 day">
    <meta name="DC.Robots" content="all">
    <meta name="DC.Rating" content="general">
    <meta name="DC.Distribution" content="global">
    <meta name="DC.Category" content="internet"><title>Arabic Keyboard 360</title>
    <meta property="og:locale" content="" />
    <meta property="og:type" content="website" />
    <meta property="article:author" content="" />
    <meta property="article:publisher" content="" />
    <meta property="og:title" content="Arabic Keyboard 360" />
    <meta property="og:description" content="Arabic Keyboard 360 (لوحة المفاتيح العربية الإحترافية) allows anyone to  write in Arabic(arabic keyboard)." />
    <meta property="og:url" content="" />
    <meta property="og:site_name" content="www.arabickeyboard360.com" />
    <meta property="og:image" content="" />

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="" />
    <meta name="twitter:creator" content="" />
    <meta name="twitter:title" content="Arabic Keyboard 360 (لوحة المفاتيح العربية الإحترافية) allows anyone to  write in Arabic(arabic keyboard)." />
    <meta name="twitter:description" content="Arabic Keyboard 360 (لوحة المفاتيح العربية الإحترافية) allows anyone to  write in Arabic(arabic keyboard)." />
    <meta name="twitter:url" content="http://www.arabickeyboard360.com" />
    <meta name="twitter:image" content="http://www.arabickeyboard360.com" />


  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ site.url }}/styles/bootstrap.min.css">
  <link rel="stylesheet" href="{{ site.url }}/styles/style.css">
  <link type="text/css" rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
</head>
<body  ng-csp="no-unsafe-eval">

    <div class="header" style="width: 100%;">
        <div class="content">

            <div class="navbar navbar-default" role="navigation" style="margin-top: 0px;">
              
              <div class="navbar-header" style="margin-bottom: 0px;">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" style="padding: 0px;" href="/">
                    <img src="img/logo.png" alt="online virtual arabic keyboard" style="margin-right:5px;padding: 0px;"> 
                    Arabic Keyboard
                </a>
              </div>

              
            </div> 
           <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav" >
                  <li  class="active" style="background: white;color: blue;"><a style="background: white;color: blue;"href="/télécharger-clavier-arabe-bureau">Télécharger l'application de bureau</a></li>
                  <li  class="active" style="background: white;color: blue;"><a style="background: white;color: blue;" href="/télécharger-extension-opera/">Télécharger l'extension pour Opera</a></li>
                  <li  class="active" style="background: white;color: blue;"><a style="background: white;color: blue;" href="/télécharger-extension-firefox/">Télécharger l'extension pour Firefox</a></li>
                        
                  <li  class="active" style="background: white;color: blue;"><a style="background: white;color: blue;" href="/what-is-the-arabic-keyboard/">Blogue</a></li>  
                </ul>
            </div>

        </div>
    </div>    
<div class="row" style="padding-top: 10px;">
      <div class="col-xs-2"></div>
      <div class="col-xs-8">
        <h1>Bienvenu au clavier arabe v3.6.0 verstion en ligne </h1>
        <p>
          Ce site est la version en ligne de notre clavier arabe virtuel .Vous pouvez tout simplement écrire en Arabe en utilisant ce clavier virtuel soit avec le souris ou votre clavier (Anglais ou français) et notre systémé va se charger de convertir ce vous écrivez en lettres/alphabet Arabes .
        </p>
        <br>
        <p>
        Note : Vous pouvez aussi utiliser votre souris pour écrire en Arabe . 
        </p>
        </div>
        <div class="col-xs-2">
          
        </div>

</div>
<div class="row content">
                        <div class="col-xs-12"> 
                              <div class="txtTools clearfix">
                                <div>
                                    <ul>
                                        <li><a href="#">
                                            <i class="fa fa-clipboard"></i>

                                        </a></li>
                                        <li><a target="_blank" href="https://translate.google.com/#ar/en/{[{text}]}">
                                                <i class="fa fa-map"></i>

                                        </a></li>
                                        <li><a target="_blank" href="https://www.google.com/#q={[{text}]}">
                                            <i class="fa fa-search"></i>
                                        </a></li>
                                    </ul>
                                </div>
                              </div>
                            <div class="txtWrapper">
                              <textarea dir="rtl" placeholder="..." ng-model="text" ng-change="convert()" auto-focus="autoFocus" >
                              </textarea>
                            </div>
                           
                              <div class="keysWrapper">
                                <div style="width:100%;margin:auto;">
                                    <div class="keyWrapper">
                                        
                                        <div class="clearfix">
                                            <a ng-repeat="obj in shema" ng-click="translate(obj.arabic)" title="{[{obj.desc}]}">
                                                <div class="arabicKey">
                                                    <span >{[{obj.arabic}]}</span>
                                                </div>
                                                <div class="tKey">
                                                    <ul>
                                                        <li ng-repeat="letter in obj.latin">{[{ letter }]}</li>
                                                    </ul>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    
                              </div>
                                
                              </div>
                        </div>

</div>
  <div class="row" style="padding-top:50px;">
    <div class="content">
    <div class="row">
    <div class="col-xs-12" style="margin-top: 20px; padding-top: 50px; font-size: 28px;">
      <h1>Le guide de clavier arabe  (لوحة المفاتيح العربية) </h1>
      <h2>Que est ce que c'est un clavier arabe virtuel en ligne ? </h2>
        
        Le clavier arabe virtuel en ligne est un service en ligne qui vous offre un clavier virtuel (contraire au physique) pour écrire en langue Arabe en cas ou vous ne disposez pas d'un clavier physique qui supporte la langue arabe attaché à votre ordinateur .Vous avez deux options pour pouvoir utiliser le clavier arabe v3.6.0 

        Entrez les lettres en français .Dans ce cas le systéme de clavier virtuel va prendre en charge la transformation ou bien la translitération des lettres entrées à leurs lettres phonétiquement équivalentes en Français .

        La deuxiéme option pour l'utilisation de clavier arabe .C'est par la souris en utilisant les clés virtuels dans le clavier .Dans ce cas il n'y as pas de translitération/tansformation .

        N'importe quelle option que vous avez choisir . Vous pouvez tout simplement copier votre texte en arabe et le coller ou vous voulez . 
        <h2> Comment copier le texte en Arabe  (لوحة المفاتيح العربية)</h2>

        Le clavier arabe n'entre pas les letters directement pour vous .Vous devez soit utiliser votre clavier en français ou votre souris pour écrire votre texte .En suite vous devez le copier et le coller .
        Pour copier le texte .vous devez d'abord le sélectionner en suite clickez sur votre button droit de souris et chosissez copier .De la méme maniére vous pouvez le coller .

        Ou bien vous pouvez tout simplemnt le sélectionner averc CTRL + A ensuite le copier avec CTRL + C en enfin le coller avec CTRL + V .

      <h2>Quelque information sur l'outil de clavier arabe v3.6.0</h2>    
       
       La langue arabe est une langue écrit de droite à gauche .Il est utilisé par les habitants d'Afrique du Nord et le proche orient et aussi par les musulmants dans tout le monde .L'alphabet arabe se constitue de 28 lettres . 

        <p>Voila une illustration d2 28 lettres de la langue Arabe:</p>

        <img src="images/arabic-language-alphabet-28.png" alt="Arabic keyboard alphabet" style="width: 100%;height: 300px;" />

      <h2>Les reasons pour laquelle les gents utilisent les claviers arabes virtuels </h2>

      <p>Il existent plusieurs reasons pour lequelles les gents utilisent des <b>claviers arabe virtuels en ligne </b>.Par exemple </p><br>
      Dans le monde arabe ,les gents utilisent plusiuers langues avec la langue Arabe .Dans la plupart des pays arabes ,les langues anglais et français sont fréquement utilisées donc des claviers latins sont utilisés au lieu des claviers arabes
      ,par exemple en travail mais dans le temps ou il n'y a pas du travail les gents utilsent la langue arabe qui n'existent pas toujours dans leurs claviers .C'est pour cette reason qu'ils utilisent des clavier virtuels soit en ligne ou du bureau .
      <br><br>
      Il y'as aussi d'autre reasons .Par exemple si vous étres dans un autre pays étranger et vous étes allez à un cyber café ou il n'existe pas un clavier arabe vous pouvez dans ce cas visiter un site en ligne et tout simplement commencer à écrire en Arabe sans difficultés .

      <br>

      <h2>Comment utiliser le clavier arabe virtuel v3.6.0 par images </h2>

      Dans ce petit tutoriel je vais vous montrer comment utiliser le clavier arabe v3.6.0 par images étapes par étapes.Pour bien comprendre comment utiliser cet outil .

      <h3>La premiére étape </h3>

        Vous devez premiérement visiter à un site web qui contient un clavier arabe virtuel mais comme vous étes ici dans notre site qui offre aussi ce service pour pouvez passez à l'étape suivante .

          <img src="images/arabic-keyboard-enter-url.png" alt="Arabic keyboard enter url" style="width: 100%;height: 100px;" />
      <br>
      Vous allez trouver plusieurs liens <br>

        <img src="images/arabic-keyboard-all-options.png" alt="Arabic keyboard all available options" style="width: 100%;height: 100%;" /><br>

     
      <iframe width="560" height="315" src="https://www.youtube.com/embed/wx4a8_ltiI4" frameborder="0" allowfullscreen></iframe>
      
      </div>
      </div>  

      <div class="features-container">

        <div class="row">
            {% for post in site.posts %}
            <div class="col-md-6">
            <h4> <a href="{{post.url}}">{{ post.title }}</a></h4>
            <p>{{ post.excerpt }}</p>
            </div>
            {% endfor %}
            
        </div>

        
      </div>

      <div class="features-container">
      Tags : <b>Clavier arabe ,Claver arabe,clavi arabe </b>
      </div> 
      <div style="text-align:center;" >
          
            <br>
            <br>
            <a style="color:#f55856;" href="/photoshop-arabic">Photoshop Arabic</a>
            <a href="http://annuaire-sites.danslemonde.net/gestion/in.php?url_id=25191" target="_blank"><img border="0" src="http://annuaire-sites.danslemonde.net/logo.gif" width="468" height="60"></a>
            <a style="color:#f55856;" href="http://www.techiediaries.com">techiediaries</a> 2016 © All rights reserved.
      </div>
    </div>
  </div>


<script   src="{{ site.url }}/scripts/jquery-1.12.3.min.js"   integrity="sha256-aaODHAgvwQW1bFOGXMeX+pC4PZIPsvn2h1sArYOhgXQ="   crossorigin="anonymous"></script>
  <script src="{{ site.url }}/scripts/angular.min.js"></script>
  
  <script src="{{ site.url }}/scripts/service.js"></script>
  <script src="{{ site.url }}/scripts/app.js"></script>

  

<script src="{{ site.url }}/scripts/bootstrap.min.js"></script>

</body>
</html>
